@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --product-img-height: 250px;
    --primary-color: #fff;
    --grey-color: #666;
    --dar-blue-color: hsl(223deg 57% 12%);
    --medium-font-size: 20px;
    --small-font-size: 16px;
    --black-box-p-font-size: 25px;
    --full-width: 100%;
    --logo-height: 90px;
    --logo-margin-left: 46%;
    --logo-margin-top: 2%;
    --shop-logo-with: 50px;
    --shop-logo-height: 50px;
    --nav-left-position: 36%;
    --nav-padding: 10px;
    --hr-width: 60%;
    --hr-margin-left: 20%;
    --hr-margin-top: 1%;
    --policy-icons-font-size: 100px;
    --shopping-bag-font-size: 40px;
    --shopping-bag-margin-top: 2%;
    --shopping-bag-margin-left: 27%;
    --h1-font-size: 55px;
    --h1-margin-bottom: 1.5%;
    --mySlide-img-height: 400px;
    --slideshow-container-width: 60vw;
    --slideshow-container-margin: 20px auto;
    --mySlides-img-width: 90vw;
    --mySlide-img-margin-left: 0%;
    --product-container-margin-bottom: 5%;
    --product-card-margin-left: 7%;
    --product-card-padding-left: 2%;
    --product-card-border-radius: 20px;
    --product-card-padding: 2%;
    --product-price-margin-top: 10%;
    --product-price-margin-left: 5%;
    --product-card-width: 200px;
    --black-box-width: 32%;
    --black-box-height: 650px;
    --black-box-margin-left: 20%;
    --black-box-margin-top: 3%;
    --black-padding: 1%;
    --black-box-h2-margin-top: 2%;
    --black-box-h2-margin-bottom: 2%;
    --black-box-h2-font-size: 40px;
    --aboutUS-image-margin-left: 40%;
    --aboutUS-image-height:760px;
    --aboutUS-image-width: 45%;
    --Safety-Policies-Statement-margin-top: 5%;
    --safety-black-box-width: 30%;
    --safety-black-box-height: 450px;
    --safety-black-box-margin-left: 12%;
    --safety-black-box-margin-top: 3%;
    --safety-black-box-padding: 5%;
    --safety-black-box-h2-line-height: 65px;
    --Safety-policy-margin-top: 60%;
    --Safety-policy-text-align: center;
    --Safety-policy-width: 90%;
    --Safety-policy-margin-left: 5%;
    --Safety-policy-margin-bottom: 5%;
    --Safety-Policies-Statement-margin-bottom: 80%;
    --policy-h3: 40px;
    --policy-span-font-size: 25px;
    --policy-p-font-size: 20px;
    --container-max-width: 1200px;
    --container-width: 90%;
    --container-margin: auto;
    --container-margin-top: 55%;
   
    --container-1-font-size: 20px;
    --container-1-letter-spacing: .5px;
    --image-container-padding: 2% 12%;  
    --image-container-img-height: 550px;
    --image-container-img-margin-left: 0%;
    --faq-margin-bottom: 5%;
    --faq-question-font-size: 35px;
    --answer-font-size: 20px;
    
    
}


*{
   
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body{
box-sizing: border-box;
}

header{
    width: var(--full-width);
   
}

#logo{
    height: var(--logo-height);
   
   
}

.nav-links{
    display: block;
    position: relative;
    
}


.nav-links a{
    text-decoration: none;
    color: grey;
}


hr{
    width: var(--hr-width);
    margin-left: var(--hr-margin-left);
   margin-top: var(--hr-margin-top);
   background-color: black;
}

.fa-bag-shopping{
    font-size: var(--shopping-bag-font-size);
    color: grey;
    margin: var(--shopping-bag-margin); 
    display: inline;
    position: absolute;
}


main{
    margin-top: 5%;
}

h1, #quote{
    text-align: center;
    width: var(--full-width);
}
h1{
    font-size: var(--h1-font-size);
    margin-bottom: var(--h1-margin-bottom);
    font-family: 'Montserrat', sans-serif;
   font-weight: normal;
}

#quote{
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;    
    color: black;
}


.mySlide img {
  height: var(--mySlide-img-height);
  width: var(--mySlides-img-width);
  object-fit: cover;
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin: var(--slideshow-container-margin);
  width: var(--slideshow-container-width);
  margin-left: 20%;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--product-container-margin-bottom);
}

.product-card{
  
    margin-left: var(--product-card-margin-left);
    padding-left: var(--product-card-padding-left);
    background-color: #c6c6c647;
    display: flex;
    flex-direction: column;
    border-radius: var(--product-card-border-radius);
    padding: var(--product-card-padding);

}


.product-img img:last-of-type{
    height: calc(var(--product-img-height) + 35px);
}


#black-box{
    width: var(--black-box-width);
    height: var(--black-box-height);
    display: inline;
    background-color: #020202;
    color: white;
    margin-left: var(--black-box-margin-left);
    margin-top: var(--black-box-margin-top);
    position: absolute;
    padding: var(--black-padding);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;

}



#black-box p{
    font-size: var(--black-box-p-font-size);

}

#black-box h2{
    margin-top: var(--black-box-h2-margin-top);
    margin-bottom: var(--black-box-h2-margin-bottom);
    font-size: var(--black-box-h2-font-size);
}

#aboutUS-image{
    margin-left: var(--aboutUS-image-margin-left);
    position: absolute;
    height: var(--aboutUS-image-height);
    width: var(--aboutUS-image-width);
}


#Safety-Policies-Statement{
    margin-top: var(--Safety-Policies-Statement-margin-top);
}

#safety-black-box{
    width: var(--safety-black-box-width);
    height: var(--safety-black-box-height);
    display: inline;
    background-color: #020202;
    color: white;
    margin-left: var(--safety-black-box-margin-left);
    margin-top: var(--safety-black-box-margin-top);
    position: absolute;
    padding: var(--safety-black-box-padding);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;

}

#safety-black-box h2{
    line-height: var(--safety-black-box-h2-line-height);
}

#safety-black-box p{
    font-size: calc(var(--black-box) - 5px);
}

#Safety-Policies{
    display: flex;
    flex-direction: column;
    margin-top: var(--Safety-policy-margin-top);
    text-align: center;
    width: var(--Safety-policy-width);
    margin-left: var(--Safety-policy-margin-left);
    margin-bottom: var(--Safety-policy-margin-bottom);
 }

.policy{
     margin-top: 2%;
} 

.policy h3, .policy span, .policy p{
        margin-top: 1%;
    }
.policy h3{
    font-size: var(--policy-h3);
    font-family: 'Montserrat';
}

.policy span{
    font-size: var(--policy-span-font-size);
    font-family: Arial, Helvetica, sans-serif;
}

.policy p{
    font-size: var(--policy-p-font-size);
    font-family: cursive;
}

.fa-solid:not(.fa-bag-shopping){
    font-size: var(--policy-icons-font-size);
}



.container {
    justify-content: center;
    align-items: center;
    max-width: var(--container-max-width);
    width: var(--container-width);
    margin: auto;
    margin-top: var(--container-margin-top);
}




.container-1{
    text-align: center;
    font-size: var(--container-1-font-size);
    letter-spacing: var(--container-1-letter-spacing);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
        margin: 0 auto;
}

.image-container{
    padding: var(--image-container-padding);
}

.image-container img{
    height: var(--image-container-img-height);
}

.faq{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: var(--faq-margin-bottom);
    width: 80%;
        margin: 0 auto;
}

.faq-question{
     font-size: var(--faq-question-font-size);
}

.answer{
    font-size: var(--answer-font-size);
}




/* -======= Media Queriers =====- */


@media only screen and (min-width: 279px) {
   
    
     #logo, #shop-logo{
          height: 80px;
          width: 80%;
			margin-left: 10%;
			object-fit: contain;
      }


      header .fa-bag-shopping{
       
        display: none;
         
      }

    nav{
        margin-top: 1%;
   width: 100%;
    }
      .dropdown-content {
        position: absolute;
        
        display: none;
      }
      .show {display: block;}

      .show a {
     color: black;
        margin-top: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .nav-links a:hover {
        background-color: #ddd;
        cursor: pointer;
    }
      
      #dropbtn{
        border: none;
        margin-left: 85%;
      }

      #dropbtn:hover{
        cursor: pointer;
      }
    
      .fa-bars{
        font-size: 2rem !important;
      
    }

	.store-main h1{
		text-align: left;
		padding-left: 5%;
		font-weight: bold;
		font-family: "Poppins";
	}
	#login-form #password, #login-form #email{
		padding: 2%;
		border-top: none;
		border-left: none;
		border-right: none;
		border-color: rgba(128, 128, 128, 0.137);
		margin: 5%;
	}

    .login-main .login-quote{
        text-align: center;
        display: block;
    }

	#checkbox{
		margin-left: 5%;
		border-radius: 0;
	}

	#signInBox{
		font-size: .8em;
	}

	#forgotPassword{
		float: right;
		color: grey;
	}

	#submit{
		width: 90%;
		margin-left: 10%;
		margin-top: 5%;
		padding: 3%;
		background-color: black;
		color: white;
		border: none;
	}

	.register-container{
		margin-top: 10%;
		font-family: "Montserrat";
		font-weight: bold;
		font-size: .8em;
	}

	.register-container span{
		color: grey;
	}

	.register-container a{
		color: black;
		font-family: "Poppins";
		font-weight: bold;
		font-size: .7em;
	}

    #about-us-main{
        display: flex;
        flex-direction: column;
    }

    #about-us-main *{
        overflow: unset;
    }

	#about-us-main img{
		display: none;
	}

    #about-us-main .img1{
        background: url("../images/aboutUs.png"); 
        color: white;
        margin-bottom: 10% !important;

    }

    #about-us-main .img2{
        background: url("../images/aboutUs2.png"); 
        margin-bottom: -50% !important;

    }
	#about-us-main .img3{
        background: url("../images/aboutUs3.webp")

    }

	#about-us-main .img4{
        background: url("../images/aboutUs4.webp")

    }

	#about-us-main .img5{
        background: url("../images/aboutUs5.png")

    }

	#about-us-main .img6{
        background: url("../images/aboutUs6.webp")

    }
	#about-us-main .img7{
        background: url("../images/aboutUs7.webp")

    }
	#about-us-main .img8{
        background: url("../images/aboutUs8.webp")

    }

	#about-us-main .img9{
        background: url("../images/aboutUs9.png")

    }

	#about-us-main .img10{
        background: url("../images/aboutUs10.png");
        margin-bottom: -50% !important;
    }

	
    #about-us-main .about-us-image{
        background-size:cover; 
	    background-position:center; 
	    background-repeat:no-repeat; 
        padding-top: 20%;
        padding-bottom: 10%;
        margin-bottom: 120%;
        text-align: center;
        max-width: 100%;
		min-height: 5rem;
        max-height: 8rem;
    }

    #about-us-main  .about-headings{
        font-size: 2rem;
		display: block;
        margin-top: 60%;
    }

	
	#about-us-main .img1{
		font-size: 1.5rem;
		font-family: "Poppins";
	  }
      .img5{
        margin-top: -20%;
      }

    
      .img6{
        margin-top: -50%;

      }

	    #about-us-main div:not(.about-us-image){
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
		}

		#about-us-main .about-headings{
			font-family: "Poppins", sans-serif;
           
		}

	#about-us-main div:not(.about-us-image){
		padding: 4%;
		font-size: 1.2rem;
	}
  
    .outreach .about-headings{
        margin-top: -100% !important;
    }
   

    #about-us-main .community{
        padding: 4%;
    }
    
    #contact{
        padding: 2%;
    }

    #contact h1{
        text-align: unset;
        padding: 5%;
        font-weight: bold;
    }


    #links-container{
        margin-left: 5%;
    }

    #contact-form input:not(:first-child), #contact-form textarea{
        margin-top: 6%;
    }

    #contact-form input, #contact-form textarea{
        padding: 4%;
        border-radius: 5%;
        border-color: grey;
        font-family: "Poppins";
    }

    #contact-form input{
        border-color: black;
        border-width: 1px;
    }

    #contact-form button[type="submit"]{
        width: 100%;
        padding: 3%;
        background-color: transparent;
    }

    #shopping-header #links-container{
        margin-left: 5%;
    }

    .shop-banner img{
        object-fit: cover;
        width: 100%;
        height: 35rem;
        border: 1px solid;
    }

    .shop-banner p{
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 2rem;
        margin-top: -100%;
        margin-left: 20%;
        font-family: "Poppins";
    }


    .nav-links{
        display: inline;
        position: relative;
       margin-left: 2%;
    }

    .nav-links a{
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    
    hr{
       display: none;
    }
   

    h1, #quote{
       margin: unset;
       text-align: center;
       display: block;
    }

    .fa-bag-shopping{
        font-size: calc(var(--shopping-bag-font-size) - 5px);
        color: grey;
        margin-top: calc(var(--shopping-bag-margin-top) - 1%); 
        margin-left: calc(var(--shopping-bag-margin-left) + 35%);
        display: inline;
        position: absolute;
    }
    
    
    main{
        margin-top: 5%;
    }

    h1{
        font-size: calc(var(--h1-font-size) - 25px);
        margin-bottom: var(--h1-margin-bottom);
        font-family: 'Montserrat', sans-serif;
        width: var(--full-width);
       font-weight: normal;
       margin-left: -5%;
    }
    

    #quote{
        margin-bottom: 2%;
        text-align: center;
        margin-left: -5%;
        font-family: 'Ubuntu', sans-serif;    
        color: black;
    }
    
    
    
    .mySlides img {
        block-size: 530px;
        cursor: pointer;
        height: calc(var(--mySlide-img-height) - 100px);
        inline-size: 940px;
        object-fit: cover;
        perspective-origin: 470px 265px;
        transform-origin: 470px 265px;
        width: calc(var(--mySlides-img-width) - 15vw);
        font: 10px Arial, Helvetica, sans-serif;
        margin-left: calc(var(--mySlide-img-margin-left) + 13%);
    }
    
    
    .slideshow-container {
      position: relative;
      margin: var(--slideshow-container-margin);
      width: var(--slideshow-container-width);
      margin-left: 18%;
    }
    
    
 
 

   
    .products-container{
        display: flex;
       flex-direction: column;
       align-items: center;
        margin-bottom: var(--product-container-margin-bottom);
    }
    
    .product-card{
     
        background-color: #dddcdc;
        display: flex;
        flex-direction: column;
        border-radius: var(--product-card-border-radius);
        padding: var(--product-card-padding);
       width: calc(var(--product-card-width) + 10%);
       overflow: hidden;
       margin-top: 5%;
      margin-left: calc(var(--product-card-margin-left) - 2%);
    }
    
   
    .image2 img{
        margin-left: -12%;
    }
    .product-img img{
        width: 90%;
        margin: 0 auto;
    }

 
    .product-img img:last-of-type{
        height: calc(var(--product-img-height) + 35px);
    }
    

    #Safety-Policies-Statement #image-container-2 img {
    
        object-fit: cover;
        height: calc(var(--image-container-img-height) - 300px);
        width: 90%;
        margin-left: calc(var(--image-container-img-margin-left) + 5%);
    }
    
    #Safety-Policies{
        margin-top: 10%;
    }
      
#safety-black-box{
    width: unset;
    height: unset;
    display: unset;
    background-color: #dddcdc;
    color: black;
    margin-left: unset;
    margin-top:unset;
    position:unset;
    padding:unset;
    z-index: unset;
    font-family: 'Montserrat', sans-serif;
    
}



#safety-black-box p{
    font-size: calc(var(--black-box-p-font-size) - 10px);
    font-weight: bold;
    margin: 2%;
}

#safety-black-box h2{
    margin-top: var(--black-box-h2-margin-top);
    margin-bottom: var(--black-box-h2-margin-bottom);
    font-size: calc(var(--black-box-h2-font-size) - 10px);
    text-align: center;
    line-height: unset;
    font-family: 'Helvetica';
    font-weight: normal;
}

#aboutUS-image{
    margin-left:unset;
    position: unset;
    height: calc(var(--aboutUS-image-height) / 2);
    width: 100%;
}

    #Safety-Policies-Statement{
        margin-top: var(--Safety-Policies-Statement-margin-top);
    }
    
         
#black-box{
    width: unset;
    height: unset;
    display: unset;
    background-color: #dddcdc;
    color: black;
    margin-left: unset;
    margin-top:unset;
    position:unset;
    padding:unset;
    z-index: unset;
    font-family: 'Montserrat', sans-serif;
    
}



#black-box p{
    font-size: calc(var(--black-box-p-font-size) - 10px);
    font-weight: bold;
    margin: 2%;
}

#black-box h2{
    margin-top: var(--black-box-h2-margin-top);
    margin-bottom: var(--black-box-h2-margin-bottom);
    font-size: var(--black-box-h2-font-size);
}

    

     #img1, #img2, #img3{
        width: 260px; 
        height: 250px;
         object-fit: cover;
         margin-left: -10%;
     }
    
   
    .policy h3{
        font-size: calc(var(--policy-h3) - 15px);
    }
    
    .policy span{
        font-size: calc(var(--policy-span-font-size) - 6px);
    }
    
    .policy p{
        font-size: calc(var(--policy-p-font-size) - 5px);
    }
    
    
    .fa-solid:not(.fa-bag-shopping){
        font-size: calc(var(--policy-icons-font-size) - 35px);
        margin-bottom:5%;
    }

    
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }

    .container-1 h1{
        font-size: calc(var(--h1-font-size) - 32px);
        margin-left: 1%;
    }

    #FAQ-quote{
        font-weight: unset;
        font-size: 15px;
    }
    
    #faq-statement, .faq .answer{
        font-size: 13px;
    }

    .faq .faq-question{
        font-size: 25px
    }


   
    
   
    
    .container-1{
        text-align: center;
        font-size: var(--container-1-font-size);
        letter-spacing: var(--container-1-letter-spacing);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }
    
    .image-container{
        padding: var(--image-container-padding);
    }
    
    .image-container img{
        height: var(--image-container-img-height);
    }
    
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    
    .faq-question{
         font-size: var(--faq-question-font-size);
    }
    
    .answer{
        font-size: var(--answer-font-size);
    }

	#shop-main-container .mini-nav{
		text-align: center;
		display: block;
	}


    #shop-main-container *{
        overflow: unset;
    }

	#sort-container{
		margin-left: 3%;
	}

	#store{
		display: flex;
		flex-wrap: wrap;
	}

	.card{
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-bottom: 5%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.card .img-container img{
		height: 10rem;
	}


	.custom{
		padding: 10% 5% 5% 5%;
		background-color: #F7F7F7;
		margin-right: 3%;
		text-align: center;
		color: #313030;
	}

	#customMessage{
		font-size: 1.5rem;
	
	}

	#customizeButton{
		padding: 5%;
		width: 80%;
		background-color: #313030;
		color: white;
		border: none;
	}
	.fa-star{
		color: gold;
		font-size: 1em !important;
	}

	.fa-user{
		font-size: 1.4rem !important;
		margin-left: -90%;
		position: absolute;
	}

	.navbar a{
		
		color: black;
	}
    
	.store-main{
		padding: 5%;
	}

	.store-main .login-quote{

	}

	select{
		margin-top: 2%;
	}
      }   
      
@media only screen and (min-width: 319px) {
 

    nav{
        margin-top: 1%;
    }
    
    .faq-links-container{
       margin-left: -3%;
    }
    #links-container{
        margin-left: 5%;
    }

    #shopping-header #links-container{
        margin-left: 15%;
    }

    .nav-links{
        display: inline;
        position: relative;
       margin-left: 3%;
    }

    .nav-links a{
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    
    h1{
        font-size: calc(var(--h1-font-size) - 25px);
        margin-bottom: var(--h1-margin-bottom);
        font-family: 'Montserrat', sans-serif;
        width: var(--full-width);
       font-weight: normal;
       margin-left: -5%;
    }
    

    #quote{
        margin-bottom: 2%;
        text-align: center;
        margin-left: -5%;
        font-family: 'Ubuntu', sans-serif;    
        color: black;
    }
    
   

    h1, #quote{
       margin: unset;
       text-align: center;
       display: block;
    }

  
    
    
    main{
        margin-top: 5%;
    }

    h1{
        font-size: calc(var(--h1-font-size) - 20px);
        margin-bottom: var(--h1-margin-bottom);
        font-family: 'Montserrat', sans-serif;
        width: var(--full-width);
       font-weight: normal;
       margin-left: -5%;
    }
    

    #quote{
        margin-bottom: 2%;
        text-align: center;
        margin-left: -5%;
        font-family: 'Ubuntu', sans-serif;    
        color: black;
    }
    
    
  
    
    
    .mySlides img {
        block-size: 530px;
        cursor: pointer;
        height: calc(var(--mySlide-img-height) - 100px);
        inline-size: 940px;
        object-fit: cover;
        perspective-origin: 470px 265px;
        transform-origin: 470px 265px;
        width: calc(var(--mySlides-img-width) - 15vw);
        font: 10px Arial, Helvetica, sans-serif;
        margin-left: calc(var(--mySlide-img-margin-left) + 13%);
    }
    
    
    
    .slideshow-container {
      position: relative;
      margin: var(--slideshow-container-margin);
      width: var(--slideshow-container-width);
      margin-left: 18%;
    }
    
    
 
 

   
    .products-container{
        display: flex;
       flex-direction: column;
       align-items: center;
        margin-bottom: var(--product-container-margin-bottom);
    }
    
    .product-card{
     
        background-color: #dddcdc;
        display: flex;
        flex-direction: column;
        border-radius: var(--product-card-border-radius);
        padding: var(--product-card-padding);
       width: calc(var(--product-card-width) + 10%);
       overflow: hidden;
       margin-top: 5%;
      margin-left: calc(var(--product-card-margin-left) - 2%);
    }
    
   
    .image2 img{
        margin-left: -12%;
    }
    .product-img img{
        width: 90%;
        margin: 0 auto;
    }

 
    .product-img img:last-of-type{
        height: calc(var(--product-img-height) + 35px);
    }
    
 
    
      
#black-box{
    width: unset;
    height: unset;
    display: unset;
    background-color: #dddcdc;
    color: black;
    margin-left: unset;
    margin-top:unset;
    position:unset;
    padding:unset;
    z-index: unset;
    font-family: 'Montserrat', sans-serif;
    
}



#black-box p{
    font-size: calc(var(--black-box-p-font-size) - 10px);
    font-weight: bold;
    margin: 2%;
}

#black-box h2{
    margin-top: var(--black-box-h2-margin-top);
    margin-bottom: var(--black-box-h2-margin-bottom);
    font-size: var(--black-box-h2-font-size);
}

#aboutUS-image{
    margin-left:unset;
    position: unset;
    height: calc(var(--aboutUS-image-height) / 2);
    width: 100%;
}

    #Safety-Policies-Statement{
        margin-top: var(--Safety-Policies-Statement-margin-top);
    }
    
  
    
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }

    #FAQ-quote{
        font-weight: unset;
        font-size: 15px;
    }
    
    #faq-statement, .faq .answer{
        font-size: 13px;
        font-family: 'Abel', sans-serif;
    }

    .faq .faq-question{
        font-size: 25px;
        font-family: 'Lobster';
        }

 
    
    .container-1{
        text-align: center;
        font-size: var(--container-1-font-size);
        letter-spacing: var(--container-1-letter-spacing);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .image-container{
        padding: var(--image-container-padding);
    }
    
  #faq-m .image-container img{
       
        
        margin-left: 0%;
        
    }
   
   
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    
    .faq-question{
         font-size: var(--faq-question-font-size);
    }
    
    .answer{
        font-size: var(--answer-font-size);
    }
    
      }   
@media only screen and (min-width: 359px){

        #faq-m .image-container img{
            margin-left: 5%;
        }
        
        #welcome{
            margin-left: 5%;
        }
        #quote{
            margin-left: 5%;
        }
        
    .product-card{
        margin-left: 5%;
    }
    }


@media only screen and (min-width: 374px) {
  
    #shop-main-container h1{
        padding: 5%;
        letter-spacing: .01rem;
    }
    #links-container{
        margin-left: 10%;
    } 
    
    .shop-banner img{
        width: 105%;
    }

    .shop-men p{
        margin-left: 35%;
        margin-top: -90%;
    }

    .shop-women p{
        margin-left: 25%;
        margin-top: -90%;
    }
    #shopping-header #links-container{
        margin-left: 15%;
   
    }

    #shopping-header #links-container a{
        font-size: 13px;
    }

  
    
          } 


          
 @media only screen and (min-width: 411px) {
      
    #shopping-header #links-container{
        margin-left: 20%;
    }
        
    .fa-bag-shopping{
              
                margin-left: calc(var(--shopping-bag-margin-left) + 30%);
           
            }
            
    #faq-m .image-container img{
        margin-left: 10%;
    }

 }
            
                  
          
@media only screen and (min-width: 599px){
    
    #shopping-header #shop-logo{
        width: 100%;
        height: 100px;
        object-fit: contain;
        margin-left: calc(var(--logo-margin-left) - 42%);

    }
    #logo{
       margin-left: calc(var(--logo-margin-left) - 5%);
      
    }

    nav{
        margin-top: 1%;
    }
    
   
    hr{
      display: block;
        margin-left: calc(var(--hr-margin-left) - 5%);
    }
   
    #links-container{
        margin-left: 20%;
    }
   
    .fa-bag-shopping{
      
        margin-top: calc(var(--shopping-bag-margin-top) - 12%); 
        margin-left: calc(var(--shopping-bag-margin-left) + 60%);
        
    }
    
    
    .mySlides img {
        height: calc(var(--mySlide-img-height) - 50px);
        width: calc(var(--mySlides-img-width) - 5vw); 
        margin-left: calc(var(--mySlide-img-margin-left) + 8%);
    }
    
 
    #faq-m .image-container img{
        width: 500px; 
        height: 350px;
         margin-left: -4%;
     }
   
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px)  {
  
   

    #myDropdown{
        display: unset;
        margin-left: -85% !important;
        width: 100%;
    }

    

    .fa-bars{
        display: none !important;
    }

    .nav-links a{
        font-size: 1.5rem;
    }

    #links-container{
        margin-left: 10% !important;
    }

  

   
  
    .shop-banner img{
        width: 110%;
    }
    
    .shop-men{
        animation-name: sectionSlider;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .shop-women{
        animation-name: sectionSlider2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes sectionSlider{
        from{
                opacity: 0;
                transform: translateX(-50%);
        }
       
    }

    @keyframes sectionSlider2{
        from{
                opacity: 0;
                transform: translateX(80%);
        }
       

    }

    

    .shop-men p{
        margin-left: 68%;
        margin-top: -10%;
    }

    .shop-women p{
        margin-left: 1%;
        margin-top: -10%;
     
    }

    .newWelcome{
        animation-name: newWelcome;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes newWelcome{
        from{
            font-size: 0px;
        }

        to{
            font-size: var(--h1-font-size);
        }
    }

    .animatedBannerImg{
        animation-name: animatedBannerImg ;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }


    .animatedCard1{
        animation-name: animationCard1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .animatedCard2{
        animation-name: animationCard2;
  
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .animatedCard3{
        animation-name: animationCard3;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes animationCard1{
        from{
            opacity: 0;
            transform: translateY(50%);
        }

        to{
            opacity: 100%;
        }
    }

    @keyframes animationCard2{
        from{
            opacity: 0;
            transform: translateY(50%);
        }

        to{
            opacity: 100%;
        }
    }
    @keyframes animationCard3{
        from{
            opacity: 0;
            transform: translateY(50%);
        }

        to{
            opacity: 100%;
        }
    }
    #CTA-flex{
        display: flex;
    }

    .shop-men p{
        margin-left: 56%;
        margin-top: -20%;
    }

    .shop-women p{
        margin-left: 2%;
        margin-top: -20%;
    }

    #shop-main-container h1{
        font-size: 5rem;
    }

    .mini-nav{
        font-size: 2rem;
        margin-left: -40%;
    }

    #sort{
        font-size: 2rem;
    }

    #form-control{
        font-size: 1.5rem;
    }

    .fa-user{
        font-size: 3rem !important;
        margin-top: 2%;
}

input, textarea{
    width: 80%;
}

    #store .img-container img{
        height: 15rem;
    }
    #shopping-header #shop-logo, #logo{
        height:80px;
        width: 80%;
        object-fit: contain;
       margin-left: 5%;
    }
   
 
      header .fa-bag-shopping{
       
        display: unset;
        margin: unset;
        font-size: 30px;
        margin-left: -10%;
        margin-top: var(--shopping-bag-margin-top);
         
      }

      #welcome, #quote{
        margin-left: unset;
      }

      #home-container hr{
        margin-left: var(--hr-margin-left);
      }

	  .show a{
		font-size: 2rem;
		
	  }

	  .fa-bars{
		font-size: 5rem !important;
	  }

	  #myDropdown{
		margin-left: -35%;
	  }

	  #about-us-main .img1{
		padding-top: 10%;
		font-size: 4rem;
	  }

	  #about-us-main img{
		display: unset;
	  }

      .about-us-image{
        margin:unset !important;
      }

      
	  #about-us-main .about-us-image:not(.img1){	
		background: unset;
        padding-top: unset;
        padding-bottom: unset;
        text-align: unset;
        min-width: 30%;
		min-height: unset;
        max-height: unset;
   
	  }

	  #about-us-main .img2 img{
		object-fit:contain;
		min-width: 80%;
		max-width: 100%;
	  }

	  #about-us-main .community img{
		object-fit:contain;
		min-width: 50%;
		max-width: 90%;
	  }

	   

	  .flex{
		display: flex;
	  }

	  .flex .img2{
		flex: 1.5;
	  }

	  .flex .community{
		flex: 1;
	  }

      .community .about-headings{
        margin-top: 0 !important;
      }

	  
	
	  .flex2 .about-us-image img{
		object-fit: cover;
		max-width: 100%;
		min-height: 20rem;
		max-height: 20rem;
	  }


	  .flex2 .img4{
		margin: 0 5% 0 5% !important;
	  }
	
	.flex3 .img6{
		flex: 2;
	}

	.flex3 .img6 img{
		max-width: 90%;
	}

	.flex3 .outreach{
		flex: 1.3;
		overflow: hidden;
	}

    .outreach .about-headings{
        margin-top: 10% !important;

    }

    

	.flex3 .outreach img{
		width: 100%;
		object-fit: cover;
		min-height: 10rem;
		
	}

	.flex4 .about-us-image img{
		object-fit: cover;
		max-width: 100%;
		min-height: 20rem;
		max-height: 20rem;
        
	}

	.flex4 .about-us-image{
		width: 40%;
        
	}

	.flex4 .img8{
		margin: 0 5% 0 5% !important;
	}

    .flex4{
        margin-bottom: unset !important;
    }
  #links-container{
    margin-left: 25%;
  }

 

    #black-box{
        width: calc(var(--black-box-width) + 5%);
        height: calc(var(--black-box-height) - 300px);
        display: inline;
        background-color: #020202;
        color: white;
        margin-left: calc(var(--black-box-margin-left) - 12%);
        margin-top: var(--black-box-margin-top);
        position: absolute;
        padding: calc(var(--black-padding) + 5%);
        z-index: 1;
      
    }
    
    
    #black-box p{
        font-size: calc(var(--black-box-p-font-size) - 12px);
    
    }
    
    #black-box h2{
        margin-top: var(--black-box-h2-margin-top);
        margin-bottom: var(--black-box-h2-margin-bottom);
        font-size: var(--black-box-h2-font-size);
    }
    
 

    #aboutUS-image{
        margin-left: calc(var(--aboutUS-image-margin-left) - 10%);
        position: absolute;
        height:calc(var(--aboutUS-image-height) - 250px);
        width:  calc(var(--aboutUS-image-width) + 20%);
    }
    
    
    #Safety-Policies-Statement{
        margin-top: var(--Safety-Policies-Statement-margin-top);
      
        width: 80%;
        margin: 0 auto;
    }

    #Safety-Policies{
        margin-top: 60%;
    }
    .policy .fa-solid{
        font-size: calc(var(--policy-icons-font-size) + 10px);
    }

    .policy h3{
        font-size: var(--policy-h3);
    }

    .policy p{
        font-size: var(--policy-p-font-size);
    }
 
    #Safety-Policies-Statement #image-container-2 img{
        height: calc(var(--image-container-img-height) - 100px);
        margin-left: var(--image-container-img-margin-left);
        width: 80%;
    }
    
  
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }
    
     

    
    
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    #faq-m .image-container img{
        width: 600px; 
        height: 350px;
         object-fit: cover;
         margin-left: 2%;
    }
    
    .faq-question{
         font-size: var(--faq-question-font-size);
    }
    
    .answer{
        font-size: var(--answer-font-size);
    }

      } 
      
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 991px)  {

#shopping-header #shop-logo{
    margin-left: calc(var(--logo-margin-left) - 35%);
}

  #logo{
    margin-left: calc(var(--logo-margin-left) - 38%);
  }
   #home-container hr{
    margin-left: var(--hr-margin-left);
   }

   #links-container{
    margin-left: 30%;
   }
    
 
    .mySlides img {
    
        height: calc(var(--mySlide-img-height) + 100px);
        
    }
    
    
    
    .products-container{
        
        align-items: center;
        margin-bottom: var(--product-container-margin-bottom);
    }
    
    .product-card{
     
        background-color: #dddcdc;
        display: flex;
        flex-direction: column;
        border-radius: var(--product-card-border-radius);
        padding: var(--product-card-padding);
       width: calc(var(--product-card-width) + 30%);
       overflow: hidden;
       margin-top: 5%;
       margin-left: 2%;
    }
    
  .product-img{
    margin: 0 auto;
  }
    
    .product-img img:last-of-type{
        height: calc(var(--product-img-height) + 35px);
    }
    
    .product-price {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: var(--product-price-margin-top);
        margin-left: var(--product-price-margin-left);
        position: relative;
    }
    
      
    #black-box{
        width: calc(var(--black-box-width) + 5%);
        height: calc(var(--black-box-height) - 300px);
        display: inline;
        background-color: #020202;
        color: white;
        margin-left: calc(var(--black-box-margin-left) - 12%);
        margin-top: var(--black-box-margin-top);
        position: absolute;
        padding: calc(var(--black-padding) + 5%);
        z-index: 1;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    
    #black-box p{
        font-size: calc(var(--black-box-p-font-size) - 9px);
    
    }

 

    #aboutUS-image{
        height: calc(var(--aboutUS-image-height) - 200px);
       
    }
    
    
    #Safety-Policies-Statement{
        margin-top: var(--Safety-Policies-Statement-margin-top);
    }

    #Safety-Policies{
        margin-top: 50%;
    }
 
    #safety-black-box p{
        font-size: var(--black-box);
    }
    
  
    
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }

    
    
     
    
  
    #faq-m .image-container img{
    
         object-fit: cover;
         margin-left: 15%;
     }

    
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    
    .faq .faq-question{
         font-size: calc(var(--faq-question-font-size) + 10px);
    }
    
    .faq .answer{
        font-size: calc(var(--answer-font-size) + 5px);
    }
      } 
    
@media only screen and (min-width: 1023px){

    input, textarea{
        width: 80%;
    }
 .fa-bars{
    display: none;
 }

   
    #CTA-flex{
        display: flex;
    }

    #home-banner-img{
        margin-left: unset;
    }

    .shop-banner img{
        width: 50vw;
        height: 50rem;
    }

    .animatedBannerImg{
        animation-name: animatedBannerImg;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes sectionSlider2{
        from{
            transform: translateX(50%);
        }
    }

    #home-banner-img{
        margin-left: 8%;
    }

    .shop-men p{
        margin-left: 56%;
        margin-top: -20%;
    }

    .shop-women p{
        margin-left: 2%;
        margin-top: -20%;
    }
    
    #links-container{
        margin-left: 32%;
    }
    
   
       
  
    
    
    
    #black-box{
     
        padding: calc(var(--black-padding) + 2%);
      height: calc(var(--black-box-height) - 250px);
    
    }
    
    
    
    #black-box p{
        font-size: calc(var(--black-box-p-font-size) - 9px);
    
    }
    
    #black-box h2{
        margin-top: var(--black-box-h2-margin-top);
        margin-bottom: var(--black-box-h2-margin-bottom);
        font-size: var(--black-box-h2-font-size);
    }
    
    #aboutUS-image{
        margin-left: var(--aboutUS-image-margin-left);
        position: absolute;
        height:calc(var(--aboutUS-image-height) - 200px);
        width:  calc(var(--aboutUS-image-width) + 8%);
    }
    
    
    #Safety-Policies-Statement{
        margin-top: var(--Safety-Policies-Statement-margin-top);
    }
    
    #safety-black-box{
        width: calc(var(--safety-black-box-width) + 5%);
        height: calc(var(--safety-black-box-height) - 50px);
        display: inline;
        background-color: #020202;
        color: white;
        margin-left: calc(var(--safety-black-box-margin-left) - 15%);
        margin-top: var(--safety-black-box-margin-top);
        position: absolute;
        padding: calc(var(--safety-black-box-padding) - 1%);
        z-index: 1;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    #safety-black-box h2{
text-align: left;
    }
    
    #safety-black-box p{
        font-size: calc(var(--black-box-p-font-size) - 2px);
    }
    
    #Safety-Policies{
        display: flex;
        flex-direction: column;
        margin-top: var(--Safety-policy-margin-top);
        text-align: center;
        width: var(--Safety-policy-width);
        margin-left: var(--Safety-policy-margin-left);
        margin-bottom: var(--Safety-policy-margin-bottom);
     }

     
    #Safety-Policies-Statement #image-container-2 img{
        width: 60%;
        height: var(--image-container-img-height);
        margin-left: calc(var(--image-container-img-margin-left) + 28%);
    }
    
    
    .policy{
         margin-top: 2%;
    } 
    
    .policy h3, .policy span, .policy p{
            margin-top: 1%;
        }
    .policy h3{
        font-size: var(--policy-h3);
        font-family: 'Montserrat';
    }
    
    .policy span{
        font-size: var(--policy-span-font-size);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .policy p{
        font-size: var(--policy-p-font-size);
        font-family: cursive;
    }
    
    .fa-solid:not(.fa-bag-shopping){
        font-size: var(--policy-icons-font-size);
    }
    
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }
   
    
  
    
    .container-1{
        text-align: center;
        font-size: var(--container-1-font-size);
        letter-spacing: var(--container-1-letter-spacing);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .image-container{
        padding: var(--image-container-padding);
    }
    
    .image-container img{
        height: var(--image-container-img-height);
    }
    
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    
    .faq-question{
         font-size: var(--faq-question-font-size);
    }
    
    .answer{
        font-size: var(--answer-font-size);
    }

    .product-card{
        margin-left: 10% !important;
    }
    
}   

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1199px) {
    
   .nav-links a{
    font-size: 15px;
   }

   #links-container{
    margin-left: 30%;
   }
    .fa-bag-shopping{
        font-size: calc(var(--shopping-bag-font-size) + 2px);
        margin-top: calc(var(--shopping-bag-margin-top) - 10%); 
        margin-left: calc(var(--shopping-bag-margin-left) + 50%);
      
       
    }
    
   #shopping-header hr{
        margin-left: calc(var(--hr-margin-left) - 2%);
    }

    h1{
        font-size: var(--h1-font-size);
       
    }

    #welcome{
        margin: unset;
        text-align: center;
    }
    #quote{
        margin: unset;
        margin-bottom: 2%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;    
        color: black;
    }
    
   
    .mySlides img {
      
        margin-left: calc(var(--mySlide-img-margin-left) + 8%);
    }
    
    .slideshow-container {
      position: relative;
      margin: var(--slideshow-container-margin);
      width: var(--slideshow-container-width);
      margin-left: 20%;
    }
    
 
  
    
    .products-container{
        flex-direction: row;
    
    }
    
    .product-card{
        margin-left: calc(var(--product-card-margin-left) - 1%);
        width: calc(var(--product-card-width) + 5%);
       
    }
    


    
    #black-box{
       height: calc(var(--black-box-height) - 180px);
        padding: calc(var(--black-padding) + 2%);
    }
    
    
    
    #black-box p{
        font-size: calc(var(--black-box-p-font-size) - 5px);
    
    }
    

    
    #aboutUS-image{
        height: calc(var(--aboutUS-image-height) - 100px);
        width: calc(var(--aboutUS-image-width) + 10%);
    }
  
   
    
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }
    
    
  
    
    .container-1{
        text-align: center;
        font-size: var(--container-1-font-size);
        letter-spacing: var(--container-1-letter-spacing);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .image-container{
        padding: var(--image-container-padding);
    }
    
    #faq-m .image-container img{
        height: var(--image-container-img-height);
        margin-left: var(--image-container-img-margin-left);
    }
    
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    
    .faq-question{
         font-size: var(--faq-question-font-size);
    }
    
    .answer{
        font-size: var(--answer-font-size);
    }
    
} 

@media only screen and (min-width: 1365px) {
   
   .nav-links a{
    font-size: 2rem;
   }
   @keyframes animatedBannerImg{
     

    to{
     
        transform: translateX(10%) ;
    }
}
    #faq-m .image-container img{
        margin-left: calc(var(--mySlide-img-margin-left) + 20%);
        width: 80%; 
        height: var(--image-container-img-height);
         object-fit: cover;
         margin-left: 10%;
    }

    #faq-m .container-1 h1{
        font-size: var(--h1-font-size);
    }

    #FAQ-quote{
        font-size: 18px;
    }

    .faq .faq-question{
        font-size: calc(var(--faq-question-font-size) - 10px);
    }

    .faq .answer{
        font-size: var(--answer-font-size);
    }
    #faq-statement{
        margin-top: 1%;
        font-size: 20px;
    }
    .mySlides img{
        margin-left: 15%;
        width: 80%;
        margin-left: calc(var(--mySlide-img-margin-left) + 10%);
    }

    .products-container{
        margin-left: calc(var(--product-card-margin-left) - 4%);
    }

    #Safety-Policies-Statement #image-container-2 img{
        height: calc(var(--image-container-img-height) + 100px);
    }

   
}

@media only screen and (min-width: 1439px) {
 
 nav{
    width: 100%;
    margin-left: 95%;
 }
 
 @keyframes animatedBannerImg{
     
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
     
        transform: translateX(5%);
    }
}



    
    .shop-women img{width: 120%;}

    #contact{
        margin-left: 25%;
    }
    input, textarea{
        padding: 2% !important;
        width: 50%;
    }

    button:last-of-type{
        width: 50% !important;
    }

    .fa-user{
        margin-left: -85%;
    }
   #links-container{
    margin-left: 32%;
   }
    
    hr{
        width: calc(var(--hr-width) - 5%);
        
        margin-left: calc(var(--hr-margin-left) + 5%);
       
    }
    
    .fa-bag-shopping{
      
        margin-top: calc(var(--shopping-bag-margin-top) - 8%); 
        margin-left: calc(var(--shopping-bag-margin-left) + 50%);
      
       
    }
    
 
    .mySlides img {
        margin-left: -50%;
        width: unset;
        
    }

    
    #black-box{
      height: calc(var(--black-box-height) - 100px);
        margin-left: var(--black-box-margin-left);
        margin-top: var(--black-box-margin-top);
        padding: calc(var(--black-padding) + 2%);
        
    
    }
    
    
    
    #black-box p{
        font-size: var(--black-box-p-font-size);
    
    }
  
    
    #aboutUS-image{
        margin-left: var(--aboutUS-image-margin-left);
        position: absolute;
        height: var(--aboutUS-image-height);
        width: calc(var(--aboutUS-image-width) + 5%);
    }
    
  
    
    .fa-solid:not(.fa-bag-shopping){
        font-size: var(--policy-icons-font-size);
    }
    
    .container {
        justify-content: center;
        align-items: center;
        max-width: var(--container-max-width);
        width: var(--container-width);
        margin: auto;
        margin-top: var(--container-margin-top);
    }
    
    
    
   
   
    
    .container-1{
        text-align: center;
        font-size: var(--container-1-font-size);
        letter-spacing: var(--container-1-letter-spacing);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .image-container{
        padding: var(--image-container-padding);
    }
    
    #faq-m .image-container img{
        height: var(--image-container-img-height);
        margin-left: calc(var(--image-container-img-margin-left) + 10%);
        width: 80%; 
         object-fit: cover;
        
    }
    
    .faq{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: var(--faq-margin-bottom);
        width: 80%;
        margin: 0 auto;
    }
    
    .faq-question{
         font-size: var(--faq-question-font-size);
    }
    
    .answer{
        font-size: var(--answer-font-size);
    }

    #home-banner-img{
        margin-left: 15%;
    }

    .fa-user{
        margin-left: -80%;
        margin-top: -1%;
    }
   
   

    .product-card{
        margin-left: 7% !important;
    }
    
} 

@media only screen and (min-width: 2559px) {
    
    #logo{
        
        height: 150px;
    }

 

    #links-container a{
        font-size: 25px;
    }

    #safety-black-box p{
        font-size: calc(var(--black-box-p-font-size) + 10px);
       
    }

    #safety-black-box h2{
        font-size: calc(var(--black-box-h2-font-size) + 20px);
       
    }

    #safety-black-box{
        width: var(--black-box-width);
        height: calc(var(--black-box-height) - 100px);
    }

    #Safety-Policies-Statement #image-container-2 img{
        height: calc(var(--image-container-img-height) + 350px);
    }
  
    #Safety-Policies{
        
        width: 60%;
        margin: 42% auto;
     }

     .policy h3{
        font-size: calc(var(--policy-h3) + 10px);
        margin-top: -2%;
     }

     .policy p{
        font-size: calc(var(--policy-p-font-size) + 15px);
     }

     #faq-m .container-1 h1{
        font-size: 100px;
     }

     #FAQ-quote{
        font-size: 30px;
     }

     #faq-statement{
        font-size: 35px;
     }

     .faq .faq-question{
        font-size: 60px;
     }

     .faq .answer{
        font-size: calc(var(--answer-font-size) + 20px);
     }

     #home-container #welcome{
        font-size: 0px !important;
     }

     #home-container #quote{
        font-size: 40px;
     }

     .mySlides img{
        width: 90%;
        height: 1000px;
        margin-left: calc(var(--mySlide-img-margin-left) + 5%);

     }

     .product-card{
        width: calc(var(--product-card-width) + 350px);
        
     }

     .product-card:first-child{
        margin-left: calc(var(--product-card-margin-left) - 5%);
     }

     #black-box{
        height: calc(var(--black-box-height) + 350px);
     }

     #aboutUS-image{
        object-fit: cover;
        height: 1300px;
     }
     #black-box h2{
        font-size: calc(var(--black-box-h2-font-size) + 60px);
     }

     #black-box p{
        font-size: calc(var(--black-box-p-font-size) + 20px);
     }
    
     @keyframes animatedBannerImg{
     

        to{
         
            transform: translateX(5%) ;
        }
    }

 } 









